body {
  font: 1.1em sans-serif;
}

#chart{
  width: 800px;
  margin: 0 auto;
}
.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
}
.year-title {
  font-size: 1.5em;
}

/* color ranges */
.RdYlGn .q0-11{fill:rgb(165,0,38)}   /* red */
.RdYlGn .q1-11{fill:rgb(215,48,39)}  /* red */
.RdYlGn .q2-11{fill:rgb(244,109,67)} /* red */
.RdYlGn .q3-11{fill:rgb(253,140,82)} /* orange */
.RdYlGn .q4-11{fill:rgb(253,174,97)} /* orange */
.RdYlGn .q5-11{fill:rgb(253,180,104)}
.RdYlGn .q6-11{fill:rgb(254,190,111)}
.RdYlGn .q7-11{fill:rgb(254,207,125)}
.RdYlGn .q8-11{fill:rgb(254,224,139)} /* yellow */
.RdYlGn .q9-11{fill:rgb(255,255,191)} /* yellow */
.RdYlGn .q10-11{fill:rgb(255,255,255)} /* terminate with white for zero */
/*
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
*/

/* hover info */
#tooltip {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
}
